
{% extends 'index.html'%}

{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/5f59ca6ad3.js" crossorigin="anonymous"></script>
        <link rel = "stylesheet" href = {% static 'css/style.css' %}>
        <link rel = "stylesheet" href = {% static 'css/create.css' %}>
</head>
<body>
    {% block content %}
    
    
    <div class = "form-card">
        <div class = "head-con">
    <form class = 'bg-warning'   action = "Create" method = "POST">
        {% csrf_token %}
        <input class = "box"  type = "Number" name = "id" placeholder = "Enter Your Id"/><br/>
        <input type = "text" name = "Name" placeholder = "Enter Your Name"/><br/>
        <input type = "date" name = "DOB" placeholder = "Enter Your DOB"/><br/>
        <input type = "date" name = "DOJ" placeholder = "Enter Your DOJ"/><br/>
        <input type = "text" name = "Department" placeholder = "Enter Your Department Name"/><br/>
        <input type = "text" name = "Post" placeholder = "Enter Your Post Name"/><br/>
        <input type = "text" name = "Address" placeholder = "Enter Your Address Name"/><br/>
        <input type = "text" name = "City" placeholder = "Enter Your City Name"/><br/>
        <input type = "text" name = "Country" placeholder = "Enter Your Country Name"/><br/>
        <input type = "Number" name = "Zipcode" placeholder = "Enter Your Zipcode Name"/><br/>
        <input type = "text" name = "State" placeholder = "Enter Your State Name"/><br/>
        <input type = "submit"/>
    </form>
</div>
</div>
    {% endblock content%}
</body>
</html>



